/* ADD/COMPOSE TWEET FORM STYLING */
/* Form displays above the tweets feed, under the header */



.new-tweet h2 {
  align-self: center;
  width: fit-content;
  display: none;
}


/* Error messages from form validation */
section.new-tweet div.new-tweet-error {
  background-color: var(--transparent-red);
  color: var(--dark-red);
  font-size: 0.9em;
  border: 0.1rem solid var(--light-red);
  border-radius: 0.4em;
  padding: 0.4em;
  width: 100%;
  margin-bottom: 1em;
  display: none;
  text-align: center;
}
section.new-tweet div.new-tweet-error > * {
  vertical-align: middle;
  display: inline-block;
  margin: 1% 2%;
}
main.container section.new-tweet div.show-error {
  display: block;
}


/* New Tweet Form */
.new-tweet form {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding-bottom: 1.5em;
}

/* Label for text area */
.new-tweet form label[for="tweet-text"] {
  font-weight: 700;
}

/* Text area to write the tweet */
.new-tweet form textarea {
  resize: none;
  width: 100%;
  height: fit-content;
  border: none;
  border-bottom: 3px solid black;
  font-size: 0.8em;
  /* background color to match parent */
  background-color: inherit;
}
.new-tweet textarea:focus {
  outline: none;
}

/* Div w/ submit button and character counter */
.new-tweet form div {
  font-family: var(--logo-font);
  padding: 15px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* Submit / "Tweet" button */
.new-tweet form button {
  color: var(--background);
  background-color: var(--main-color);
  border: none;
  border-radius: 0.15em;
}

/* Character Counter */
.new-tweet .count-negative {
  color: red;
}