/* ADD/COMPOSE TWEET FORM STYLING */
/* Form displays above the tweets feed, under the header */



.new-tweet h2 {
  align-self: center;
  width: fit-content;
}


/* Error messages from form validation */
section.new-tweet div.new-tweet-error {
  background-color: rgba(253, 138, 138, 0.8);
  background-color: rgb(250, 150, 150);
  color: rgb(150, 44, 44);
  font-size: 0.9em;
  padding: 0.4em;
  border-radius: 0.4em;
  border: 0.1rem solid rgb(246, 135, 153);
  margin-bottom: 1em;
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  justify-content: left;
  align-items: center;
  display: none;
}
section.new-tweet div.new-tweet-error i {
  margin-right: 0.5em;
}
main.container section.new-tweet div.show-error {
  display: block;
}


/* New Tweet Form */
.new-tweet form {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  padding-bottom: 1.5em;
}

/* Label for text area */
.new-tweet form label[for="tweet-text"] {
  font-weight: 700;
}

/* Text area to write the tweet */
.new-tweet form textarea {
  resize: none;
  width: 100%;
  /* height: 60px; */
  height: fit-content;
  border: none;
  border-bottom: 3px solid black;
  font-size: 0.8em;
  /* background color to match parent */
  background-color: inherit;
}
.new-tweet textarea:focus {
  outline: none;
}

/* Div w/ submit button and character counter */
.new-tweet form div {
  font-family: var(--logo-font);
  padding: 15px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* Submit / "Tweet" button */
.new-tweet form button {
  color: #ffffff;
  background-color: var(--main-color);
  border: none;
}

/* Character Counter */
.new-tweet .count-negative {
  color: red;
}