/* HEADER STYLING */
/* The header displays the user's name and avatar */

body > header {
  height: 400px;
  width: 100%;
  background: var(--background-textured);
  background-position: center bottom;
  /* display vertically beneath the fixed navbar */
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1.2em;
}
body header div h2 {
  margin: 0 auto;
  padding: 2em auto;
  color: var(--background);
}