/* NAVIGATION BAR STYLING */

nav {
  height: 100px;
  width: 100vw; /* 100% of the viewport width */
  background: var(--background-textured);
  color: var(--background);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /* Make navbar sticky / fixed position at top, in front of other elements */
  position: fixed;
  top: 0;
  z-index: 10;
}

nav span {
  font-family: var(--logo-font);
  font-size: 1.4em;
  margin: 0 4vw;
}